*{
    padding: 0;
    margin: 0;
}

nav {
    width: 100%;
    height: 90px;
    background-color: #EFE9EB;

}
nav ul{
    float: right;
    margin-right: 80px;
    
}
nav ul li{
    display: inline-block;
    list-style: none; 
}
nav ul li a{
    padding-right: 60px;
    color:brown;
}
img{
width: 100%;
height: 600px;
}
.picfruit {
    float: right;
    width: 300px;
    height: 250px;
    padding-right: 80px;
  
}
.colour{
    background-color: #EEE8EA;
    height:550px;
    margin-top: 0px;
    padding: 0;
    overflow-y: hidden;
}
.navbar{
    height: 120px;
    background-color: #C3C21A;
}